@charset "UTF-8";

body {
    background-color: rgb(167, 165, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1 {
   color: blue;
   background-color: rgb(63, 135, 203);
}
h2{
   color: rgb(152, 39, 39);
}